@model CEP.Models.CEPS

@{
    ViewData["Title"] = "ValidarCEP";
}

<h1>Pesquisar CEP</h1>

@if(!string.IsNullOrEmpty(ViewBag.Messagem)) {
    <div class="alert alert-danger mt-3 mb-3" role="alert">
        @ViewBag.Messagem
    </div>
}

@using(Html.BeginForm("BuscarPorCodigo", "Cep", new { id = "Cep", @class = "align-content-center" }, FormMethod.Get)) {
    <form class="form-text text-center">
        <div class="form-group col-md-4">
            <input pattern="\d{8}" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" required type="text" maxlength="8" class="form-control" id="cep" name="cep" value="@Model" placeholder="Digite o CEP" autocomplete="off" />
            
        </div>
        <br />
        <div class="align-content-center">
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </div>

        <div class="align-content-center mt-3">
            <a href="@Url.Action("Listar", "CEP")" class="btn btn-primary">Lista</a>
        </div>
    </form>
}

@if(Model != null) {
    <h2>Resultado da pesquisa</h2>
    <table class="table">
        <tr>
            <th>Código</th>
            <th>Logradouro</th>
            <th>Complemento</th>
            <th>Bairro</th>
            <th>Localidade</th>
            <th>UF</th>
            <th>Unidade</th>
            <th>IBGE</th>
            <th>GIA</th>
        </tr>
        <tr>
            <td>@Model.Cep</td>
            <td>@Model.Logradouro</td>
            <td>@Model.Complemento</td>
            <td>@Model.Bairro</td>
            <td>@Model.Localidade</td>
            <td>@Model.UF</td>
            <td>@Model.Unidade</td>
            <td>@Model.IBGE</td>
            <td>@Model.GIA</td>
        </tr>
    </table>
}

<script>
    document.getElementById("cep").oninvalid = function () {
        this.setCustomValidity("CEP esta invalido");
    };
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
